# Copyright (c) 2025 The.Thanh Nguyen <the.nguyen.yf@outlook.com>
# SPDX-License-Identifier: Apache-2.0

config GPIO_RENESAS_RA_IOPORT
	bool "Renesas RA GPIO I/O Port driver"
	default y
	depends on DT_HAS_RENESAS_RA_IOPORT_ENABLED
	select RENESAS_RA_FSP_IOPORT
	help
	  Enable the Renesas RA GPIO I/O Port driver.
