# Copyright (c) 2025 The.Thanh Nguyen <the.nguyen.yf@outlook.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_RENESAS_RA_CUSTOM
	bool
	select HAS_SEGGER_RTT

config SOC_FAMILY
	default "renesas_ra_custom" if SOC_FAMILY_RENESAS_RA_CUSTOM

rsource "*/Kconfig"
